{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-9">
    {{ if .Params.avatar -}}
      {{ $image := .Resources.GetMatch (printf "**%s" .Params.avatar) -}}
      {{ $imageLq := $image.Resize "15x15 webp q95" -}}
      {{ $image = $image.Resize "300x300 webp q95" -}}
      <div class="contributor-image">
        <img class="img-fluid lazyload blur-up rounded-circle" src="{{ $imageLq.RelPermalink }}" data-src="{{ $image.RelPermalink }}" alt="{{ .Title }}" width="150" height="150">
      </div>
    {{ end -}}
    {{ with .Params.headline -}}
      <h1 class="text-center">{{ . }}</h1>
    {{ else -}}
      <h1 class="text-center">{{ .Title }}</h1>
    {{ end -}}
    {{ with .Params.summary -}}<p class="lead text-center">{{ . }}</p>{{ end -}}
    {{ with .Content -}}<div class="text-center">{{ . }}</div>{{ end -}}
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class=" projects-wrapper col-lg-9">
      {{ $paginator := .Paginate (.Data.Pages) -}}
      {{ range $paginator.Pages -}}
        <div class="project-wrapper col-md-12 col-lg-10 col-xl-8">
        {{/*  <div class="project-wrapper">  */}}
          <div class="card">
            {{ if site.Params.doks.imageList -}}
              {{- $images := .Resources.ByType "image" -}}
              {{- $featured := $images.GetMatch "*feature*" -}}
              {{- if not $featured }}{{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}{{ end -}}
              {{- if $featured -}}
                {{ partial "img" (dict
                "page" .
                "src" $featured
                "alt" .Title
                "class" "rounded-top-1"
                )}}
              {{ end -}}
            {{ end -}}
            <div class="card-body">
              <article>
                <h2 class="h3"><a class="stretched-link text-body" href="{{ .RelPermalink }}">{{ .Params.title }}</a></h2>
                <p>{{ .Params.summary | safeHTML }}</p>
                <div class="tag-list-single">
                  {{ range $index, $tag := .Params.tags -}}
                    <a class="btn btn-light" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/" role="button">{{ . }}</a>
                  {{ end -}}
                </div>
                {{/*  {{ partial "main/blog-meta.html" . -}}  */}}
              </article>
            </div>
          </div>
          <span class="text-nowrap projects-link-wrapper">
            {{ if .Params.github -}}
              <a class="nav-link social-link projects-link" href="{{ .Params.github -}}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path></svg>
              </a>
            {{- end -}}
            {{ if .Params.demo -}}
              <a class="nav-link social-link projects-link" href="{{ .Params.demo -}}" target="_blank">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-external-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6" /><path d="M11 13l9 -9" /><path d="M15 4h5v5" /></svg>
              </a>
            {{- end -}}
          </span>
        </div>
      {{ end -}}
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-9">
    {{ template "_internal/pagination.html" . }}
  </div>
</div>
{{ end }}
